.header {
  border-bottom: 1px solid #dddddd;
  background-color: white;
  height: 55px;
}

.instatelo {
  padding: 0px 16px;
  margin-left: 55px;
  margin-right: 55px;
}

.search-form {
  padding-left: 25pt;
}

.form-src {
  padding-left: 40px;
}
.search {
  font-size: small;
  max-height: 27px;
  max-width: 220px;
  background-color: #f8f8f8;
  color: #8e8e8e;
  text-align: center;
}
.dropdown-toggle::after {
  display: none;
}

h1 {
  background-color: #ff7010;
  font-size: 70pt;
  text-align: center;
  font-weight: 900;
}
body {
  background-color: #f8f8f8;
}

.options {
  list-style-type: none;
  background-color: white;
  border: solid thin #dddddd;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  min-height: 550px;
  max-width: 935px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.option {
  color: black;
  font-weight: 500;
  min-height: 40px;
  display: block;
  height: 100%;
  line-height: 20px;
}
.option .active {
  min-height: 40px;
  color: black;
  border-left: 2px solid;
  font-weight: 700;
  text-decoration: none;
  padding: 16px 16px 16px 30px;
}
.inactive {
  color: black;
  font-weight: 500;
  min-height: 40px;
  display: block;
  height: 100%;
  line-height: 20px;
  padding: 16px 16px 16px 30px;
}
.inactive:hover {
  border-left: 2px solid #d1d1d1;
  background-color: #f8f8f8;
  text-decoration: none;
  color: black;
}

.isioption {
  margin-top: 23px;
}

.tabs {
  border-right: 1pt solid #dddddd;
  padding: 0px 0px;
}

EDIT PROFIL {
}

.isikiri {
  margin-top: 20px;
  text-align: right;
  font-weight: 700;
}

.form-ctrl {
  margin-top: 20px;
  max-width: 390px;
  max-height: 30px;
}

.ket-form {
  max-width: 390px;
  color: rgb(126, 126, 126);
  line-height: 12pt;
}

.nama-akun {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14pt;
}

.ubah-pp {
  font-weight: 700;
  font-size: 11pt;
}

.text-area {
  max-width: 390px;
  margin-top: 20px;
}

.chk-box {
  font-weight: 700;
  font-size: 11pt;
  margin-top: 20px;
}

.info-pri {
  font-weight: 700;
  font-size: 11pt;
  margin-top: 8px;
  margin-bottom: 0px;
}

.btn-kirim {
  font-size: 11pt;
  font-weight: 700;
  background-color: #0095f6;
  border: none;
  padding: 4px 9px;
  margin-top: 20px;
}
.btn-kirim:hover {
  background-color: #0095f6;
}

.btn-non {
  font-size: 11pt;
  font-weight: 700;
  background-color: #ffffff;
  color: #0095f6;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

KATA SANDI {
}

.nama-akun2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16pt;
}

.form-pass {
  background-color: #f8f8f8;
  margin-top: 20px;
  max-width: 440px;
  max-height: 40px;
}

APLIKASI DAN SITUS WEB {
}

.app-site-web {
  padding: 32px 44px 35px 65px;
}

.burem {
  color: #8e8e8e;
}

.tabs-app {
  margin-left: 65px;
  max-width: 600px;
}

.tab-app {
  padding: 32px 44px 35px 65px;
  max-width: 700px;
}

EMAIL DAN SMS {
}

.chkbx {
  font-weight: 700;
  font-size: 11pt;
}

.head-setting {
  font-size: 22px;
}

.chk-cmnt {
  color: #8e8e8e;
  font-size: 11pt;
  margin-top: 0pt;
}

.rad-cmnt {
  color: #8e8e8e;
  font-size: 11pt;
  margin-top: 6pt;
}

.desc-cont {
  margin-top: 20px;
  max-width: 570px;
  line-height: 15pt;
}

.tersinkron {
  font-size: 13pt;
  margin-top: 20px;
  font-weight: 700;
  width: 420px;
}

.row-cont {
  border-bottom: 1px solid #dddddd;
  background-color: white;
  max-height: 55px;
  max-width: 610px;
}

.col-pad {
  margin: 0px 0px;
  padding: 32px 48px;
}

.link {
  font-size: 11pt;
}

.bold-txt {
  font-weight: 700;
}

.nav-custom {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.aaa {
  width: 284px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity 250ms ease-in-out;
}

HALAMAN HOME {
}
.card {
  margin: 20px 20px;
  width: 614px !important;
}
.card-header {
  padding: 16px 16px !important;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #dddddd;
}
.card-title {
  font-size: 12pt;
}
.card-title img {
  width: 32px;
  height: 32px;
  border-radius: 50px !important;
  margin-right: 14px;
}
.fa-2x {
  font-size: 1.2em !important;
}

.dropdown-menu a {
  color: black;
  font-size: 11pt;
  display: block;
  padding: 5px 20px;
}
.dropdown-menu a img {
  width: 17px !important;
}

.kanan {
  float: right;
}
.ikon {
  padding: 15px 0px 15px 18px;
  width: 2.7rem;
}
.dropdown-toggle {
  padding: 0px;
}

.mepet {
  padding: 0px;
  margin: 0px;
}
.emoji {
  background-color: white;
  border: 0px;
  font-size: 12pt;
}
.komen {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}
.futr {
  background-color: white;
}
.btn-kirim {
  color: #0095f6;
  font-weight: 900;
  background-color: white;
  margin: 0px;
}
.btn-kirim:hover {
  background-color: #ffffff;
}
.fikset {
  position: fixed;
  z-index: 3;
  padding: 0px;
}
